{% extends 'attendant_layout.html' %} {% block body %}
<h2>Parking Receipt</h2>
<p><strong>Driver:</strong> {{ vehicle.driver_name }}</p>
<p><strong>Receipt No:</strong> {{ vehicle.receipt_number }}</p>
<p><strong>Plate:</strong> {{ vehicle.number_plate }}</p>
<p><strong>Contact:</strong> {{ vehicle.phone_number }}</p>
<p><strong>Gender:</strong> {{ vehicle.gender }}</p>
<p><strong>NIN:</strong> {{ vehicle.nin }}</p>
<p><strong>Entry:</strong> {{ vehicle.entry_time }}</p>
<p><strong>Exit:</strong> {{ vehicle.exit_time }}</p>
<p><strong>Amount Paid:</strong> Shs {{ vehicle.fee }}</p>

<div>
<a href="{% url 'download_receipt' vehicle.id %}" class="btn btn-dark">
    Download PDF
</a>
<a href="{% url 'parked_vehicles'%}" class="btn btn-success">
        Back
</a>
</div>
{% endblock %}