{% extends 'layout.html' %}
{% block body %}
<h2 class="mb-4">Register Vehicle</h2>

<div class="card shadow-sm">
<div class="card-body">

<form method="POST" action="{% url 'register_vehicle' %}">
    {% csrf_token %}

    <div class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Driver Name</label>
            {{ form.driver_name }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Vehicle Type</label>
            {{ form.vehicle_type }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Number Plate</label>
             {{ form.number_plate }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Vehicle Model</label>
            {{ form.model }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Color</label>
            {{ form.color }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Phone Number</label>
            {{ form.phone_number }}
        </div>

        <div class="col-md-6">
            <label class="form-label">National ID</label>
             {{ form.nin }}
        </div>

    </div>

    <button class="btn btn-primary mt-3" type="submit">Register Vehicle</button>
</form>
</div>
</div>
{% endblock %}

