{% extends 'layout.html'%}
{% block body%}
<h3 class="mb-3">Welcome {{request.user.username}}</h3>
<h2 class="mb-4 text-center">Dashboard</h2>

<div class="row g-4">

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h5>Total Vehicles Today</h5>
<h2>{{total_vehicles}}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h5>Vehicles Currently Parked</h5>
<h2>{{parked_vehicles}}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h5>Signed out Vehicles</h5>
<h2>{{signed_out_vehicles}}</h2>
</div>
</div>
</div>
</div>
{% endblock %}


