{% extends 'admin_layout.html'%}
{% block body%}
<h2>Create Staff User</h2>

    {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <div class="row g-3">

            <div class="col-md-6">
                <label>Username</label>
                {{ form.username }}
            </div>

            <div class="col-md-6">
                <label>Password</label>
                {{ form.password }}
            </div>

            <div class="col-md-6">
                <label>Phone Number</label>
                {{ form.phone_number }}
            </div>

            <div class="col-md-6">
                <label>Role</label>
                {{ form.role }}
            </div>

        </div>

        <button class="btn btn-primary mt-4">
            Create User
        </button>

    </form>



{% endblock %}